<script>
  function isNumberKey(evt)
  {
  var charCode = (evt.which) ? evt.which : event.keyCode
  if (charCode > 31 && (charCode < 49 || charCode > 54))
  return false;
  return true;
  }
</script>

<div class="response">
  <p id="tries"><%= 12 - @history.length %> tries remaining</p>
  <% if @history != [] %>
    <% @history.reverse.each do |guess| %>
        <p><%= guess %></p>
        <% response = check_guess(guess) %>
        <% if check_guess(guess) == "" %>
          <br>
        <% else %>
          <p><%= response %></p>
        <% end %>
    <% end %>
  <% end %>
</div>

<div class="guess">
  <h3>Mastermind</h3>
  <p>Enter a four digit number</p>
  <p id="digits">(only digits 1-6)</p>
  <form method ="POST" action="/">
    <input type="text" name="guess" onkeypress="return isNumberKey(event)" maxlength="4" value="<%= @guess_cache %>" autofocus>
  </form>
  <% valid = @guess_cache.nil? %>
  <% if @history != [] and valid == true%>
    <p><%= @history[-1]%></p>
    <p><%= check_guess(@history[-1]) %></p>
  <% elsif !valid %>
    <p id="error">Invalid guess</p>
  <% end %>
</div>

<div class="key">
  <p>⚈ indicates a digit in the correct position</p>
  <p>○ indicates a correct digit in the wrong position</p>
</div>
